.card {
  overflow: hidden;
  &__title {
    font-size: 22px;
    line-height: 1.2;
  }
  &__subtitle {
    font-size: 12px;
  }
  &__image {
    border-radius: 100%;
    object-fit: cover;
    background: var(--base-background);
  }
  &__content {
    word-break: break-word;
  }
}
