<div class="page residents">
  <div class="container">
    <h2>年収を入力してください</h2>
    <mat-form-field appearance="fill">
      <input
        matInput
        type="number"
        [ngModel]="price$ | async"
        (ngModelChange)="price$.next($event)"
      />
      <span matSuffix>円</span>
    </mat-form-field>
    <p class="residents__label">
      <span>所得控除額</span>
      <button
        class="auto-button"
        mat-flat-button
        color="primary"
        (click)="autoDeduction()"
      >
        自動入力
      </button>
    </p>
    <mat-form-field appearance="fill">
      <input
        matInput
        type="number"
        [ngModel]="otherDeduction$ | async"
        (ngModelChange)="otherDeduction$.next($event)"
      />
      <span matSuffix>円</span>
    </mat-form-field>
    <div class="residents__table">
      <table class="table">
        <tr>
          <th>所得控除額</th>
          <td>{{ (otherDeduction$ | async | number) || 0 }}円</td>
        </tr>
        <tr>
          <th>基礎控除額</th>
          <td>{{ basicDeduction$ | async | number }}円</td>
        </tr>
        <tr>
          <th>給与所得控除額</th>
          <td>{{ incomeDeduction$ | async | number }}円</td>
        </tr>
        <tr>
          <th>課税所得金額</th>
          <td>{{ income$ | async | number }}円</td>
        </tr>
        <tr>
          <th>給与所得</th>
          <td>{{ grossIncome$ | async | number }}円</td>
        </tr>
      </table>
    </div>
    <div class="calc-area">
      <p class="calc-area__title">結果</p>
      <p>
        住民税は約
        <span class="calc-area__total">{{
          residentsTax$ | async | number
        }}</span
        >円です。
      </p>
    </div>
    <section class="section">
      <h2 class="title-lg">住民税とは?</h2>
      <p>
        住民税とは都道府県や市区町村が行なっている行政サービスを維持するために支払う税金です。
      </p>
      <p>住民税の計算方法は課税所得に対して10%の金額となります。</p>
      <p>※実際の税額とは異なる場合があります。目安としてご利用ください。</p>
    </section>
  </div>
</div>
