<div class="page income">
  <div class="container">
    <h2>年収を入力してください</h2>
    <mat-form-field appearance="fill">
      <input
        matInput
        type="number"
        [ngModel]="price$ | async"
        (ngModelChange)="price$.next($event)"
      />
      <span matSuffix>円</span>
    </mat-form-field>
    <p class="income__label">
      <span>所得控除額</span>
      <button
        class="auto-button"
        mat-flat-button
        color="primary"
        (click)="autoDeduction()"
      >
        自動入力
      </button>
    </p>
    <mat-form-field appearance="fill">
      <input
        matInput
        type="number"
        [ngModel]="otherDeduction$ | async"
        (ngModelChange)="otherDeduction$.next($event)"
      />
      <span matSuffix>円</span>
    </mat-form-field>
    <div class="income__table">
      <table>
        <tr>
          <th>所得控除額</th>
          <td>{{ otherDeduction$ | async | number }}円</td>
        </tr>
        <tr>
          <th>基礎控除額</th>
          <td>{{ basicDeduction$ | async | number }}円</td>
        </tr>
        <tr>
          <th>給与所得控除額</th>
          <td>{{ incomeDeduction$ | async | number }}円</td>
        </tr>
        <tr>
          <th>課税所得金額</th>
          <td>{{ income$ | async | number }}円</td>
        </tr>
        <tr>
          <th>給与所得</th>
          <td>{{ grossIncome$ | async | number }}円</td>
        </tr>
      </table>
    </div>
    <div class="calc-area">
      <p class="calc-area__title">結果</p>
      <p>
        所得税は約
        <span class="calc-area__total">{{ incomeTax$ | async | number }}</span
        >円です。
      </p>
    </div>
    <section class="section">
      <h2 class="title-lg">所得税とは?</h2>
      <p>所得税とは、1月1日から12月31日に得た所得に課される税金のことです。</p>
      <p>
        所得とは、給与などで得た収入から給与所得控除や配偶者控除などの控除を差し引いた金額のことを指します。
      </p>
      <p>所得税を算出するには下記の3つを計算します。</p>
      <ol>
        <li>所得金額</li>
        <li>課税所得金額</li>
        <li>所得税額</li>
      </ol>
      <p>※実際の税額とは異なる場合があります。目安としてご利用ください。</p>
    </section>
  </div>
</div>
