.header {
  background: var(--header-gradient);
  &__title {
    margin: 0 auto;
    font-size: 1rem;

    &--small {
      font-size: 1rem;
    }
  }

  &__button {
  }

  &__icon {
  }
}

.mat-toolbar {
  font-family: inherit;
}
